<h2>
    Your Cart
</h2>

<table class="table" >
    <tr>
        <td scope="col">Product Name</td>
        <td scope="col">Quantity</td>
        <td scope="col"></td>
    </tr>
    
       <tr scope="row" *ngFor="let item of cardItems">
           <td>{{item.ProductName}}                 </td>
           <td>{{item.Quantity}}</td>
           <td class="text-right" >
               <button class="btn btn-danger"
               >remove from cart</button>
           </td>
       </tr>
   
   <tr>
       <td></td>
       <td></td>
       <td></td>
       <td>
           <h3>Total</h3>
       </td>
       <td class="text-right" >
           <h3>
               <strong>{{total}}$</strong>
           </h3>
       </td>
   </tr>
   <tr>
       <td></td>
       <td></td>
       <td></td>
       <td >
           <button (click)="ClearCard()" class="btn btn-xs btn-default">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>Clear Card</button>
       </td>
       <td class="text-right">
            <button (click)="BuyAll()" class="btn btn-xs btn-default">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg> Buy All</button>
       </td>

   </tr>

</table>